<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find pprz_ros_template_project)/launch/environment/environment.launch"/><!-- environment launchfile -->

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find pprz_ros_template_project)/urdf/configuration/quadrotor_configuration.gazebo.xacro"/><!-- quadrotor configuration -->
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <include file="$(find hector_quadrotor_teleop)/launch/xbox_controller.launch" ><!-- default controller -->
    <arg name="control_mode" value="position"/>
  </include>

</launch>
